<div id="bottom">
<img alt="Linkedin link" src="assets/images/brand/linkedin_circle.png" height="40px"/>
<img alt="Viadeo link" src="assets/images/brand/viadeo_circle.png" height="40px"/>
<a href="https://github.com/Slayug/"><img alt="Github link" src="assets/images/brand/github_circle.png" height="40px"/></a>
<a href="https://bitbucket.org/Slayug/"><img alt="Bitbucket link" src="assets/images/brand/bitbucket_circle.png" height="40px"/></a>
<a href="mailto:puret.alexis@gmail.com"><img alt="mail contact" name="mail contact" src="assets/images/mail.png" height="40px"/></a>
</div>
