<header>
    <div id="header-content">
        <div id="header-nav-mobile" (click)="openNavBar()">
            <div class="rect-bounded"></div>
            <div class="rect-bounded"></div>
            <div class="rect-bounded"></div>
        </div>
        <div id="header-content-left"  (click)="closeNavBar()">
            <a href="/"><div id="logo">
                <img alt="Avatar Slayug" src="assets/images/logo.png" height="90px"/>
            </div></a>
            <div id="name">ALEXIS<br/>PURET</div>
        </div>
        <div id="header-content-right">
            <div id="header-content-right-top">
                <div id="flag">
                </div>
                <div id="search-bar">
                    <input id="search-bar" placeholder="Search.." #searchBox id="search-box"/>
                </div>
            </div>
            <div id="header-content-right-bottom">
                <app-nav-bar [mobileVersion]="false"></app-nav-bar>
            </div>
        </div>
    </div>

</header>
