<div [@horizontalOpen]="openOrClose"  id="nav-bar-mobile">
    <app-nav-bar (requestCloseNavBar)="toggleNavBar()"></app-nav-bar>
</div>

<app-top
(requestOpenNavBar)="toggleNavBar()"
(requestCloseNavBar)="closeNavBar()">
</app-top>

<div (click)="closeNavBar();" id="wrapper">
    <div id="content">
        <div id="content-left">
            <app-presentation id="presentation-mobile"></app-presentation>
            <router-outlet></router-outlet>
        </div>
        <div id="content-right">
            <app-presentation [contentShouldNotBeOpen]="false"></app-presentation>
            <app-categories></app-categories>
            <app-bottom></app-bottom>
        </div>
    </div>
</div>
