$font-stack:    Helvetica, sans-serif;

$primary-green: #00cc66;
$primary-green-hover: rgb(34, 191, 45);
$primary-gray: rgb(60, 60, 60);

$a-color: rgb(109, 175, 93);
$a-color-hover: rgb(72, 129, 58);

$border-gray: rgb(23, 23, 23);

$header-height: 100px;
$content-width: 65%;



$break-small: 320px;
$break-medium: 900px;
$break-large: 1366px;
