<div id="nav-mobile-header">
    <div id="nav-mobile-header-left">
        <a href="/"><div id="logo">
            <img alt="Logo" src="assets/images/logo.png" />
        </div></a>
    </div>
    <div id="nav-mobile-header-right">
        <div class="cross" (click)="closeNavBar()"></div>
    </div>
</div>

<nav>
    <div class="nav-button" (click)="closeNavBar()" routerLinkActive="router-link-active" [routerLink]="['/articles']">Accueil</div>
    <div class="nav-button" (click)="closeNavBar()" routerLinkActive="router-link-active" [routerLink]="['/projects']">Projects</div>
    <div class="nav-button" (click)="closeNavBar()" routerLinkActive="router-link-active" [routerLink]="['/cv']">CV</div>
    <div class="nav-button" (click)="closeNavBar()" routerLinkActive="router-link-active" [routerLink]="['/contact']" >Contact</div>
</nav>
