<div id="presentation">
    <div  id="presentation-header" (click)="toggleContent();"class="box-header-1">
        <div class="presentation-title">Presentation</div>
        <img alt="loading circle" [@rotateTriangle]="openOrClose" class="presentation-triangle" src="assets/images/triangle.png"/>
    </div>

    <div id="presentation-content" [@verticalOpen]="openOrClose">
        <p>> Currently: Erasmus Student in Cluj-Napoca<br>
            First year of master degree in computer science, my aims: Phd.<br/><br/>
            > What i like to do ?<br/>
            public Make programs with javascript, java, play PokemonGo,
            draw monsters;<br/>
            private etc;<br/>
        </p>
    </div>
</div>
